.header {
  background-color: rgb(5, 100, 175);
  padding: 23px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  color: white;
  height: 20px;
  font-family: Helvetica, Arial, sans-serif;
  border-bottom: 3px solid;
  border-color: #ec7607;
  border-width: 3px;
}

.header img {
  width: 105px;
  height: 32px;
}
.header h1 {
  font-size: 24px;
}
.header h2 {
  font-size: 16px;
}
